* {
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: sans-serif;
    background-color: #ccc;
    
}

.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas: 
        "empty empty empty logout_data";
        "title_container title_container title_container title_container";
    
}

.button {
    width:200px;
    height:50px;
    background-color:#0000f0;
    font-size: 20px;
    color:white; 
    border-radius:12px;
    border-width: 0;
    
}

#content_wrapper {
    width: 600px;
    background-color: white;
    margin: 0 auto;
}

.form_container {
    width: 550px;
    margin: 0 auto;
    
}

table, td, th {
    padding:10px;
    
}


textarea {
    resize:none;
    text-align: left;
    width:300px;
}

#button_center1{
    padding-top: 10px;
    width:440px; 
    margin: 0 auto;
    
}

.title_container {
    text-align: center;
    width:600px;
    
    grid-column: 1 /4;
   
    
}


.logout_data {
    width: 200px;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "username  button2";
        ;
    
    
}





.empty {
    width: 400px;
    
}

.username {
   width:90px;
    align-self:end;
    
}

.username_input {
    width: 70px;
    border-width: 0px;
   
}

.button_div {
    width: 90px;
    align-self: end;
   
    
}

.button2 {
    width:90px;
    
    background-color:#000;
    font-size: 20px;
    color:white; 
    
    border-width: 0;
    
    
    
}
trms_title{
    width:580;
    margin: 0 auto;
    
}



