* {
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: sans-serif;
    background-color: #ccc;
    
}



.button {
    width:200px;
    height:50px;
    background-color:#0000f0;
    font-size: 20px;
    color:white; 
    border-radius:12px;
    border-width: 0;
    
}



#title_card {
    margin-top:10px;
    
}

.new_h1 {
    font-size: 27px;
}


#container_index {
    width:400px;
    height:400px;
    margin: 10% auto;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding:10px;
}

#form_container {
    width: 300px;
    height: 300px;
    margin: 20px auto;
}
#form1 {
    margin-top: 15px;
}

#input_center {
    width:200px;
    height: 100px;
    margin: 0 auto;
}

#button_center {
    width:200px;
    height: 150px; 
    margin: 0 auto;
}




