<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TuitionReimburse</display-name>
  <servlet>
    <description>Login Page</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Home Page for Shadaloo Tuition ReImbursement Program</description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountApplicationServlet</display-name>
    <servlet-name>MyAccountApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountApplicationServlet</servlet-name>
    <url-pattern>/myAccount/applications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesServlet</display-name>
    <servlet-name>MyEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationServlet</display-name>
    <servlet-name>MyEmployeesApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountEditServlet</display-name>
    <servlet-name>MyAccountEditServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountEditServlet</servlet-name>
    <url-pattern>/myAccount/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountApplicationIDServlet</display-name>
    <servlet-name>MyAccountApplicationIDServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountApplicationIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountApplicationIDServlet</servlet-name>
    <url-pattern>/myAccount/applications/applicationID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountApplicationEditServlet</display-name>
    <servlet-name>MyAccountApplicationEditServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountApplicationEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountApplicationEditServlet</servlet-name>
    <url-pattern>/myAccount/applications/applicationID/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationIDServlet</display-name>
    <servlet-name>MyEmployeesApplicationIDServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationIDServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications/applicationID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationEditServlet</display-name>
    <servlet-name>MyEmployeesApplicationEditServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationEditServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications/applicationID/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationDenyServlet</display-name>
    <servlet-name>MyEmployeesApplicationDenyServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationDenyServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications/applicationID/deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentEventsServlet</display-name>
    <servlet-name>CurrentEventsServlet</servlet-name>
    <servlet-class>com.revature.servlet.CurrentEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentEventsServlet</servlet-name>
    <url-pattern>/currentEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountApplicationCreateServlet</display-name>
    <servlet-name>MyAccountApplicationCreateServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountApplicationCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountApplicationCreateServlet</servlet-name>
    <url-pattern>/myAccount/applications/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesEmployeeIDServlet</display-name>
    <servlet-name>MyEmployeesEmployeeIDServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesEmployeeIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesEmployeeIDServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications/:employeeID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationDeniedServlet</display-name>
    <servlet-name>MyEmployeesApplicationDeniedServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationDeniedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationDeniedServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications/:applicationID/denied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAccountServlet</display-name>
    <servlet-name>LoadAccountServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoadAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAccountServlet</servlet-name>
    <url-pattern>/loadAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyEmployeesApplicationListServlet</display-name>
    <servlet-name>MyEmployeesApplicationListServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyEmployeesApplicationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEmployeesApplicationListServlet</servlet-name>
    <url-pattern>/myAccount/myEmployees/applications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountApplicationListServlet</display-name>
    <servlet-name>MyAccountApplicationListServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyAccountApplicationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountApplicationListServlet</servlet-name>
    <url-pattern>/myAccount/applications</url-pattern>
  </servlet-mapping>
</web-app>